.slider-container {
  text-align: center;
  padding: 20px;
  overflow: hidden;
  max-width: 100vw;
}

.slider-title {
  font-size: 3rem;
  font-weight: bold;
}

.slider-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #444;
  padding: 0 20px;
}

.mySwiper {
  width: 100%;
  padding: 10px 20px;
  overflow: hidden;
}

.slide {
  width: 150px !important;
  height: 150px;
  flex-shrink: 0;
}

.slide-img {
  object-fit: cover;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.mySwiper .swiper-wrapper {
  transition-timing-function: linear !important;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.slider-title {
  color: #fff; /* タイトルは白 */
}

.slider-content {
  margin: 90px 0px;
}

.mobile-break {
  display: none;
}

/* モバイル対応 */
@media (max-width: 768px) {
  .slider-title {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  .slider-description {
    font-size: 1rem;
    padding: 0 10px;
  }

  .slide {
    width: 100px !important;
    height: 100px;
  }

  .slide-img {
    max-width: 100px;
  }
  .slider-content {
  margin: 0px 0px;
}
.slider-container {
  padding: 0px 20px;
}
  .mobile-break {
    display: inline;
  }
}
